@import url("./normalize.css");

:root {
  --color-int: #ff8198;
}

.overflowEli {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

input,
a {
  outline: none;
}

body {
  font-size: 14px;
}
